<div class="home-cls">
	<div id="home_gdmap_id"></div>
	<button nz-button nzType="default" nzSize="small" (click)="consoleConfig()" style="position: absolute;left: 10px; top: 50px;">打印配置</button>
	
	<div class="info-cls">
		<div id="panel" class="scrollbar1">
			<ul id="pagination-demo" class="pagination-sm"></ul>
			<ul id="myList">
			</ul>
		</div>
	</div>
	
	<div class="mark-list-box">
		<div class="top-box">
			<div class="box-title">站点榜单</div>
			<ul class="box-list" id="my-box-list-id">
			</ul>
		</div>
	</div>
</div>
