.main-cls {
	width: 100%;
	height: 100%;
	padding-top: 40px;
}
.main-header {
	width: 100%;
	height: 40px;
	margin-top: -40px;
	position: absolute;
	z-index: 100;
}
.main-content {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
