.amap-ui-smp-ifwn-content-body {	
    border: rgba(192, 192, 192, 0.24) solid 1px !important;
    border-radius: 4px !important;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) !important;
    background-color: rgba(255,255,255,0.85) !important;
}

